@import '/styles/globals';

#hero {
    height: 100vh;

    .hero_text {
        position: absolute;
    }

    .hero_image {
        background-image: url('../../public/images/1.jpg');
        background-size:cover;
        position: absolute;
        z-index: -1;
    }
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1280px) {
    #hero {
        .hero_text {
            width: 80vw;
            bottom: 10vh;
            left: 10vw;

            h1 {
                margin-right: 20vw;
            }

            h2 {
                margin-right: 30vw;
            }

            p {
                margin-right: 40vw;
            }
        }

        .hero_image {
            width: 80vh;
            height: 80vh;
            right: 15vw;
            bottom: 10vh;
        }
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    #hero {
        .hero_text {
            width: 80vw;
            bottom: 10vh;
            left: 10vw;

            h1 {
                margin-right: 20vw;
            }

            h2 {
                margin-right: 30vw;
            }

            p {
                margin-right: 40vw;
            }
        }

        .hero_image {
            width: 60vh;
            height: 60vh;
            right: 10vw;
            bottom: 20vh;
        }
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    #hero {
        .hero_text {
            width: 90vw;
            bottom: 5vh;
            left: 5vw;

            h1 {
                margin-right: 0vw;
            }

            h2 {
                margin-right: 20vw;
            }

            p {
                margin-right: 20vw;
            }
        }

        .hero_image {
            width: 40vh;
            height: 40vh;
            right: 5vw;
            bottom: 30vh;
        }
    }
}