@import '/styles/globals';

#hero {
    height: 100vh;

    .hero_text {
        position: absolute;
    }

    .hero_image {
        background-image: url('../../public/images/1.jpg');
        background-size:cover;
        position: absolute;
        z-index: -1;
    }
}

.canvas_hero_homepage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1280px) {
    #hero {
        .hero_text {
            width: 80vw;
            bottom: 14vh;
            left: 10vw;

            h1 {
                margin-right: 20vw;
            }

            h2 {
                margin-right: 30vw;
            }

            p {
                margin-right: 40vw;
            }
        }
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    #hero {
        .hero_text {
            width: 80vw;
            bottom: 12vh;
            left: 10vw;

            h1 {
                margin-right: 20vw;
            }

            h2 {
                margin-right: 30vw;
            }

            p {
                margin-right: 40vw;
            }
        }
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    #hero {
        .hero_text {
            width: 90vw;
            bottom: 10vh;
            left: 5vw;

            h1 {
                margin-right: 0vw;
            }

            h2 {
                margin-right: 20vw;
            }

            p {
                margin-right: 20vw;
            }
        }
    }
}